.section {
  margin-top: 10px;
  & .homeCard {
    margin: 25px;
    & .homeCardTitle {
      font-size: 16px;
      color: #ff7e64;
    }
    & .icon {
      width: 20px;
    }
  }
}

.content {
  padding: 30px;
}
.title {
  margin-bottom: 20px;
}

.prev {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 10;
  left: 0;
  width: 25px;
  transform: rotate(180deg);
  cursor: pointer;
}

.next {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 10;
  right: 0;
  width: 25px;
  cursor: pointer;
}

.thumbnail {
  width: 100%;
}

.cardWrapper {
  padding: 15px;
}

.badge {
  border: 1px solid #efcfa1;
  background-color: #fff7ea;
  color: #ff9800;
  margin-right: 5px;
  font-size: 12px;
}

.purposeIcon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}
