.default {
  display: inline-block;
  background-color: rgba(255, 241, 221, 1);

  color: #ff7b1d;
  border-radius: 13px;
  padding: 0 14px;
  font-size: 15px;
  font-weight: 500;
  height: 26px;
  line-height: 26px;
}
