.default {
  display: inline-block;
  background-color: rgba(49, 130, 246, 0.16);
  color: #1b64da;
  border-radius: 13px;
  padding: 0 14px;
  font-size: 15px;
  font-weight: 500;
  height: 26px;
  line-height: 26px;
}
