.wrapper {
  background-color: #ececec;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  input {
    border: none;
    border-bottom: 1px solid #979797;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 40px;
    &[type="radio"] {
      margin-left: 40px;
      margin-bottom: 0px;
      width: unset;
      border-radius: 50%;
      border: 1px solid #ced4da;
      outline: none;
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      position: relative;

      &:checked {
        border: 2px solid #ff7e64;
        &::after {
          width: 10px;
          height: 10px;
          top: 3px;
          left: 3px;
          content: " ";
          display: block;
          position: absolute;
          border-radius: 50%;
          background-color: #ff7e64;
        }
      }
    }
    &:focus {
      border-bottom: 1px solid #ff7e64;
    }
  }
}

.check {
  display: inline-block;
}

.content {
  width: 600px;
  background-color: white;
  padding: 50px;
}

.title {
  font-size: 30px;
  text-align: center;
}

.need {
  color: #ff7e64;
}

.section {
  margin-bottom: 40px;
}

.checkbox {
  position: relative;
  border: 0 !important;
  margin-right: 8px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  width: 20px !important;
  height: 20px;
  &:checked {
    appearance: none;
  }
  &:checked:after {
    content: "";
    display: block;
    position: absolute;
    background: url("../../../assets/check-box.svg");
    background-position: 50%;
    background-size: 100%;
    width: 18px;
    height: 16px;
    top: 1px;
    left: 0;
  }
}
