.default {
  background: white;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  width: 200px;
  min-height: 100px;
  padding: 20px;
  border-radius: 8px;
}

@keyframes hoverAnimation {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translateY(-4px);
  }
}
